<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://source.unsplash.com/random/?school);">
  <div class="container">
    <h1>Moena's English School</h1>
    <p>English is more than a test you have to take! It is a tool of communication. Learn how to build communicative confidence and competence in the world's most commonly used language.</p>
    <a class="btn btn-flat" href="https://www.eccjr.co.jp/" target="_blank">Learn more about ECC Junior</a>
  </div>
</div>
<div class="container my-3">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><i class="fa-solid fa-house"></i><span class="menu-tab-text"> Home</span></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="curriculum-tab" data-bs-toggle="tab" data-bs-target="#curriculum-tab-pane" type="button" role="tab" aria-controls="curriculum-tab-pane" aria-selected="false"><i class="fa-solid fa-book"></i><span class="menu-tab-text"> Curriculum</span></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="schedule-tab" data-bs-toggle="tab" data-bs-target="#schedule-tab-pane" type="button" role="tab" aria-controls="schedule-tab-pane" aria-selected="false"><i class="fa-solid fa-calendar-days"></i><span class="menu-tab-text"> Lesson Schedule</span></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="fees-tab" data-bs-toggle="tab" data-bs-target="#fees-tab-pane" type="button" role="tab" aria-controls="fees-tab-pane" aria-selected="false"><i class="fa-solid fa-yen-sign"></i><span class="menu-tab-text"> Fees</span></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"><i class="fa-brands fa-line"></i><span class="menu-tab-text"> Contact</span></button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0"><%= partial 'partials/home' %></div>
    <div class="tab-pane fade" id="curriculum-tab-pane" role="tabpanel" aria-labelledby="curriculum-tab" tabindex="0"><%= partial 'partials/curriculum' %></div>
    <div class="tab-pane fade" id="schedule-tab-pane" role="tabpanel" aria-labelledby="schedule-tab" tabindex="0"><%= partial 'partials/schedule' %></div>
    <div class="tab-pane fade" id="fees-tab-pane" role="tabpanel" aria-labelledby="fees-tab" tabindex="0"><%= partial 'partials/fees' %></div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0"><%= partial 'partials/contact' %></div>
  </div>
</div>
